@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your app description page.</h2>
</hgroup>

<article>
    <h1>SUPORTEIT</h1>
    <p>A Suporte-IT é uma empresa que dedica a sua actividade à distribuição de equipamentos e suportes para as áreas de Informática, Audiovisuais e Médica.</p>
    <h2>Solução</h2>
    <p>Da experiência adquirida ao longo dos anos, apresentamos aos nossos clientes soluções de instalação e equipamentos de qualidade, indo ao encontro das suas expectativas.</p>
    <h2>Visão </h2>
    <p>A melhoria contínua dos produtos e equipamentos disponibilizados aos nossos clientes.</p>

</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>