@{

}
﻿<!DOCTYPE html>
<html>
<head>
    <title>Somos Velozes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width. initial-scale=1.0">
    <link rel="stylesheet" href="~/EstiloSite.css">
    <title>Bem Vindo</title>
</head>
<body>
        <header>
            <img src="~/Logo/suporteIt.png" class="img" alt="img">
            <a href="#" class="logo">Suporte.I.T</a>
            <nav class="navbar">
                <ul>
                    <li><a href="~/BemVindo.cshtml">Home</a></li>
                    <li><a href="~/About.cshtml">Sobre</a></li>
                    <li><a href="~/Contato.cshtml">Contato</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="main-div">

            <h1>Suporte IT</h1>
            <h2>Melhore o seu atendimento ao cliente com nosso suporte.</h2>
            <br />
            <p>
                Software de suporte ao cliente para qualquer empresa, não importa o tamanho.
            </p>
            <br />
            <h3>Sugestões de atendimento:</h3>
            <br />
            <h4>
                Economize tempo e reduza custos
            </h4>
            <p>Torne sua empresa mais ágil e adaptável com um software de atendimento que pode ser implementado de forma rápida e simples.</p>
            <br />
            <h4>Melhore a produtividade</h4>
            <p>Fluxos de trabalho automatizados e inteligência artificial permitem que cada agente dê atenção ao ticket certo.</p> 
            <br />
            <h4>Ofereça suporte em diferentes canais</h4>
            <p>Resolva em um único lugar os tickets de suporte criados via email, telefone, mídias sociais ou no site da empresa.</p>
            <br />
            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - Suporte completo para Resolução e Gestão de Chamados.</p>
                    </div>
                </div>
            </footer>
            </div>
        </main>
</body>
</html>