* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    margin: 28vh;
    min-width: 100vh;
    background-color: #353333;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    box-shadow: 0 5px;
    display: flex;
    padding: 0px 7%;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

    header .logo {
        font-weight: bolder;
        font-size: 25px;
        color: #8c45c7;
    }

    header .navbar ul {
        list-style: none;
    }

        header .navbar ul li {
            position: relative;
            float: left;
        }

            header .navbar ul li a {
                font-size: 20px;
                padding: 20px;
                color: #8c45c7;
                display: block;
            }

                header .navbar ul li a:hover {
                    background-color: #8c45c7;
                    color: #000;
                }

.img {
    width: 90px;
    border-radius: 50%;
    display: flex;
    margin-right: 10px;
}
/* Style the footer */
.container {
    align-items: center;
    justify-content: center;
    background-color: #8c45c7;
    padding: 15px;
    width:40vh;
    border-radius:20px;
}

.text-filer{
    font-size:20px;
}
.text-filer h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}